
@{
    ViewBag.Title = "ClubHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('https://images.pexels.com/photos/4117878/pexels-photo-4117878.jpeg?cs=srgb&dl=pexels-gapeppy-4117878.jpg&fm=jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Clubhouse</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MASTER PLAN <i class="ion-ios-arrow-forward"></i></a></span> <span>AIOLA <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about pl-md-5 ftco-animate">
                <div class="heading-section">
                    <h3 class="mb-3 bread text-center font-weight-bold">THE LAKESHORE ESTATE’S CLUBHOUSE.</h3>
                    <p class="text-center">
                        September 8, 2011 – Central Country Estate, Inc. delivers its promise to lot owners and home owners with the blessing of The Lakeshore Estate’s Clubhouse.
                    </p>
                    <p class="text-center">
                        The clubhouse will be the heart of this premier lake resort residential community. 
                        It is a fusion of Mediterranean and Southern Californian Architecture. 
                        The clubhouse is gracefully built on an 8,576 sqm. site at the souther portion of the 10 hectare man-made lake. 
                        The parking area consists of 134 parking slots. From the drive way is the Porte Cochere that leads to the Reception and stairway to 
                        the second floor level where the gym is located. Adjacent to the gym is a hallway going through the 
                        Lobby opening to a visual axis featuring the Lighthouse and the Island which is surrounded by the exquisite lake.
                    </p>
                    <p class="text-center">
                        The building has 2 wings, on the left is a 186 sqm. Function Room with a 100-150 seating capacity, 
                        and on the right is a 186 sqm. Homeowners Association Office. Both are air-conditioned 
                        but with an Al-fesco dining areas as well and share a common 87 sqm. Social Hall which has an expansive view of the soon to be finished 700sqm. 
                        Infinity Beach Pool with 113sqm. Kiddie Pool and the 128 sqm. Beach volleyball court.
                    </p>
                    <p class="text-center">
                        The Lakeshore Clubhouse is a perfect place for the residents to gather and spend guality moments with their families.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>