
@{
    ViewBag.Title = "CommunityFeatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('https://images.pexels.com/photos/208317/pexels-photo-208317.jpeg?cs=srgb&dl=pexels-pixabay-208317.jpg&fm=jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Features</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MASTER PLAN <i class="ion-ios-arrow-forward"></i></a></span> <span>COMMERCIAL</span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Features</span>
                <h2 class="mb-2">Lakeshore</h2>
            </div>
        </div>
        <div class="row d-flex">
            @*<div class="col-md-6 d-flex ftco-animate">
                    <img src="~/Assets/images/about.jpg" width="100%" />
                </div>*@
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(../../Assets/images/about.jpg);">
            </div>
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">

                <div class="media block-6 services d-block mt-n-30">
                    <div class="col-md-12 pills m-pr-0">
                        @*<h2 class="mb-4">Community Features</h2>*@
                        <div class="bd-example bd-example-tabs">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <div class="row">
                                        <div class="col-md-12 m-pr-0">
                                            <ul class="features">
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    12 hectare man-made lake.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    18 meter-high Water Jet Fountain.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Water Sports Facilities.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Parks and Picnic Grounds at both ends of the lake.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    2 kilometer Jogging Trail around the lake.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    1,100 square meter Island with Pool and Jacuzzi.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    An Iinfinity Pool and Kiddie Pool at the main Clubhouse.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Fishing and Boating Equipments.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Facilities for events such as weddings, corporate functions, etc..
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Lakeshore PNP Action Center at the Mexico Exit.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    24 hour Security for entire Lakeshore Estate.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="ftco-section ftco-fullwidth">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">FEATURES</span>
                <h2 class="mb-2">Just Outside Your Door</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex text-wrapper align-items-stretch">
            <div class="one-half mb-md-0 mb-4 img d-flex align-self-stretch" style="background-image: url('../../Assets/images/whyyouchoose.jpg');"></div>
            <div class="one-half half-text d-flex justify-content-end align-items-center">
                <div class="text-inner pl-md-5">
                    <div class="row d-flex">
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
                                <div class="media-body pl-4">
                                    <h3>Jogging</h3>
                                    <p>Enjoy the rush of an invigorating lakeside jog every morning.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
                                <div class="media-body pl-4">
                                    <h3>Stroll</h3>
                                    <p>Stroll through our tranquil parks and tree lines pathways.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-file"></span></div>
                                <div class="media-body pl-4">
                                    <h3>Spaces</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
                                <div class="media-body pl-4">
                                    <h3>Nature</h3>
                                    <p>Get high on the freedom of wide open spaces and uncultures horizons.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Features</span>
                <h2 class="mb-2">Community</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <img src="~/Assets/images/about.jpg" width="100%" />
            </div>
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">

                <div class="media block-6 services d-block">
                    <div class="col-md-12 pills m-pr-0">
                        @*<h2 class="mb-4">Community Features</h2>*@
                        <div class="bd-example bd-example-tabs">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <div class="row">
                                        <div class="col-md-12 m-pr-0">
                                            <ul class="features">
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Clubhouse.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Fully air-conditiones Chapel with 820 seating capacity.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Lakeside boardwalks, pier decks and promenades.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Community Parks.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    A registered and fully functioning Homeowners’ Association.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="ftco-section ftco-fullwidth">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">FEATURES</span>
                <h2 class="mb-2">Commercial and Business Features</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex text-wrapper align-items-stretch">
            <div class="one-half mb-md-0 mb-4 img d-flex align-self-stretch" style="background-image: url('../../Assets/images/whyyouchoose.jpg');"></div>
            <div class="one-half half-text d-flex justify-content-end align-items-center">
                <div class="text-inner pl-md-5">
                    <div class="row d-flex">
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
                                <div class="media-body pl-4">
                                    @*<h3>Jogging</h3>*@
                                    <p>
                                        The Lakeshore – Petron TSF along NLEX with 300-car
                                        parking capacity, fastfood outlets and a 4-storey high architectural
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
                                <div class="media-body pl-4">
                                    @*<h3>Stroll</h3>*@
                                    <p>
                                        25 meter main road with rotondas that connect to
                                        the 20 meter connector roads of the villages.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-file"></span></div>
                                <div class="media-body pl-4">
                                    @*<h3>Spaces</h3>*@
                                    <p>Ample water and electric supply.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
                                <div class="media-body pl-4">
                                    @*<h3>Nature</h3>*@
                                    <p>Waste collection and disposal system.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
                                <div class="media-body pl-4">
                                    @*<h3>Nature</h3>*@
                                    <p>Telecommunications and cable system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Features</span>
                <h2 class="mb-2">11 Residential Villages</h2>
            </div>
        </div>
        <div class="row d-flex">
            @*<div class="col-md-6 d-flex ftco-animate">
                    <img src="~/Assets/images/about.jpg" width="100%" />
                </div>*@
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(../../Assets/images/about.jpg);">
            </div>
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">

                <div class="media block-6 services d-block mt-n-30">
                    <div class="col-md-12 pills m-pr-0">
                        @*<h2 class="mb-4">Community Features</h2>*@
                        <div class="bd-example bd-example-tabs">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <div class="row">
                                        <div class="col-md-12 m-pr-0">
                                            <ul class="features">
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Gated residential community.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Landscape entrance.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Tree-lines pedestrian sidewalks
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    20-meter-wide main collector road with landscape island.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Perimeter Fence.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Individual dedicated residential parks.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Ample water supply.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Waste collection and disposal system.
                                                </li>
                                                <li class="check">
                                                    <span class="ion-ios-checkmark-circle"></span>
                                                    Telecommunication and cable system.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
