
@{
    ViewBag.Title = "SaintJohnPaul";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap" style="background-image: url('https://images.pexels.com/photos/4282195/pexels-photo-4282195.jpeg?cs=srgb&dl=pexels-ramon-perucho-4282195.jpg&fm=jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Saint John Paul II Chapel</h1>
                <p><a href="#" class="btn btn-primary py-3 px-4">Book Now</a></p>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MASTER PLAN <i class="ion-ios-arrow-forward"></i></a></span> <span>AIOLA <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pb ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about pl-md-5 ftco-animate">
                <div class="heading-section">
                    <h3 class="mb-3 bread text-center font-weight-bold">THE DESIRE TO HELP SPREAD THE WORD OF GOD</h3>
                    <p class="text-center">
                        Saint John Paul II Chapel’s design concept is modern architecture. 
                        It is fully air-conditioned and has a premium sound system with sound calibrated for church/religious concert setup and in addition to enhance the sound quality, 
                        acoustical boards are installed in the ceiling. Seating capacity inside is good for 800 people and could be stretch to 1000 seating capacity until outside hallways.
                    </p>
                    <p class="text-center">
                        Architect Nestor S. Mangio – President and CEO of Central Country Estate, Inc., 
                        and the man behind the church draws his inspiration to build the chapel from his desire to help 
                        spread the word of God and build the spiritual foundation and nurture the spirituality of the LAKESHORE COMMUNITY and the surrounding communities. 
                        To build a place of worship for the community and at the same time a venue for religious sacraments and religious cultural events. To leave a legacy, 
                        a place for evangelisation even when we are gone to give glory to God.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hero-wrap" style="background-image: url('https://images.pexels.com/photos/7111692/pexels-photo-7111692.jpeg?cs=srgb&dl=pexels-piotr-arnoldes-7111692.jpg&fm=jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12 ftco-animate d-flex align-items-end">
                <div class="text text-center w-50">

                    <h4 class="mb-4">
                        THE BEAUTIFUL SAINT JOHN PAUL II CHAPEL<br />
                        REGULARLY HOLDS SUNDAY MASS AND PLAYS<br />
                        HOST TO CATHOLIC WEDDINGS, SACRAMENTS,<br />
                        AND RELIGIOUS CULTURAL EVENTS.<br />
                    </h4>
                        @*<p><a href="#" class="btn btn-primary py-3 px-4">Search Villas</a></p>*@
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Events</span>
                <h2 class="mb-2">Make Your Events Happen at the Lakeshore</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-1.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="orig-price">$3,500,000.00</span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-2.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="old-price">800,000</span><span class="orig-price">$3,050<small>/mo</small></span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-3.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="old-price">800,000</span><span class="orig-price">$3,050<small>/mo</small></span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-4.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="old-price">800,000</span><span class="orig-price">$3,050<small>/mo</small></span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-5.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="old-price">800,000</span><span class="orig-price">$3,050<small>/mo</small></span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Assets/images/work-6.jpg);">
                        <a href="properties-single.html" class="icon d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                        <div class="list-agent d-flex align-items-center">
                            <a href="#" class="agent-info d-flex align-items-center">
                                <div class="img-2 rounded-circle" style="background-image: url(../../Assets/images/person_1.jpg);"></div>
                                <h3 class="mb-0 ml-2">Ben Ford</h3>
                            </a>
                            <div class="tooltip-wrap d-flex">
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                                </a>
                                <a href="#" class="icon-2 d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="top" title="Compare">
                                    <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="price mb-3"><span class="old-price">800,000</span><span class="orig-price">$3,050<small>/mo</small></span></p>
                        <h3 class="mb-0"><a href="properties-single.html">Blue View Home</a></h3>
                        <span class="location d-inline-block mb-3"><i class="ion-ios-pin mr-2"></i>2854 Meadow View Drive, Hartford, USA</span>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</section>

