
@{
    ViewBag.Title = "MPRowHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap" style="background-image: url('../../Assets/images/masterplan/mprowhouse.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">MP Rowhouse</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MASTER PLAN <i class="ion-ios-arrow-forward"></i></a></span> <span>AIOLA <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img mt-5" id="section-counter">
    <div class="container">
        <div class="col-md-12 row m-pr-0">
            <div class="col-md-8 m-pr-0">
                <div class="col-md-12 text-center mb-5">
                    <h5 class="mb-4">RESERVE YOUR OWN PROPERTY NOW</h5>
                </div>
                <div class="table-responsive">
                    <table class="table text-center" id="aiola">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Total Contract Price</th>
                                <th scope="col">SQM</th>
                                <th scope="col">Proce/SQM</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Block 6 Lot 19 Aiola East</th>
                                <td>₱9,570,000.00</td>
                                <td>550</td>
                                <td>₱17,400.00</td>
                                <td><a href="#" class="btn btn-primary">RESERVE NOW</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4 m-pr-0 m-mt-20">
                <div class="col-md-12 text-center">
                    <h5>Amortization Calculator</h5>
                </div>
                <div class="col-md-12 pills m-pr-0">
                    <div class="bd-example bd-example-tabs">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                <div class="row">
                                    <div class="col-md-12 m-pr-0">
                                        <ul class="features">
                                            <li class="check">
                                                <span class="ion-ios-checkmark-circle"></span>
                                                Down payment – usually 20% but you can input an amount more than 20% to lessen the computed monthly amortization.
                                            </li>
                                            <li class="check">
                                                <span class="ion-ios-checkmark-circle"></span>
                                                Interest rate – usually, the interest per year is between 6-8%.
                                            </li>
                                            <li class="check">
                                                <span class="ion-ios-checkmark-circle"></span>
                                                Payment period – that the minimum and maximum number of years given by a financial institution is normally 3 to 15 years (36 – 180 months)
                                                or the number of remaining years until the buyer reaches the age of 65 years old.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row block-9 justify-content-center mb-5">
                    <div class="col-md-12">
                        <form action="#" class="bg-light p-3 contact-form">
                            <div class="form-group">
                                <label>Total Contract Price</label>
                                <input type="text" class="form-control" placeholder="₱">
                            </div>
                            <div class="form-group">
                                <label>Down Payment (std rate: 20%)</label>
                                <input type="text" class="form-control" placeholder="₱">
                            </div>
                            <div class="form-group">
                                <label>Interest Rate (std rate 6-8%/yr)</label>
                                <input type="text" class="form-control" placeholder="%">
                            </div>
                            <div class="form-group">
                                <label>Amortization Period</label>
                                <input type="text" class="form-control" placeholder="months">
                            </div>
                            <div class="form-group">
                                <label>Payment Period</label>
                                <select class="form-control">
                                    <option>
                                        Monthly
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Calculate" class="btn btn-success py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

