
@{
    ViewBag.Title = "Topaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('../../Assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Topaz Details</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MODEL HOMES <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">BUNGALOW JEWELS <i class="ion-ios-arrow-forward"></i></a></span> <span>TOPAZ <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-property-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="property-details">
                    <div class="img rounded" style="background-image: url(../../Assets/images/work-1.jpg);"></div>
                    <div class="text">
                        <h2>TOPAZ</h2>
                        <span class="subheading">The Topaz model shows a modern but classy look and feel to your home</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex">
                        <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="features">
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Lot Area: 1,250 SQ FT</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Bed Rooms: 4</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Bath Rooms: 4</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Luggage</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Garage: 2</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="features">
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Floor Area: 1,300 SQ FT</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Year Build:: 2019</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Water</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Stories: 2</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Roofing: New</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="features">
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Floor Area: 1,300 SQ FT</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Year Build:: 2019</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Water</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Stories: 2</li>
                                        <li class="check"><span class="ion-ios-checkmark-circle"></span>Roofing: New</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>

                        <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="head">23 Reviews</h3>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(../../Assets/images/person_1.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">17 October 2019</span>
                                            </h4>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                </span>
                                                <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(../../Assets/images/person_2.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">17 October 2019</span>
                                            </h4>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                </span>
                                                <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(../../Assets/images/person_3.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">17 October 2019</span>
                                            </h4>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                </span>
                                                <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="rating-wrap">
                                        <h3 class="head">Give a Review</h3>
                                        <div class="wrap">
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (98%)
                                                </span>
                                                <span>20 Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (85%)
                                                </span>
                                                <span>10 Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (70%)
                                                </span>
                                                <span>5 Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (10%)
                                                </span>
                                                <span>0 Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (0%)
                                                </span>
                                                <span>0 Reviews</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-left ftco-animate mb-5">
                <span class="subheading">RELATED MODEL HOMES</span>
                <h2 class="mb-2"></h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="listing-wrap img rounded d-flex align-items-end" style="background-image: url(../../Assets/images/listing-2.jpg);">
                    <div class="location">
                        <span class="rounded">SAPHIRE</span>
                    </div>
                    <div class="text">
                        <h3><a href="#">100 Property Listing</a></h3>
                        <a href="~/ModelHomes/Saphire" class="btn-link">Learn more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="listing-wrap img rounded d-flex align-items-end" style="background-image: url(../../Assets/images/listing-3.jpg);">
                    <div class="location">
                        <span class="rounded">RUBY</span>
                    </div>
                    <div class="text">
                        <h3><a href="#">100 Property Listing</a></h3>
                        <a href="#" class="btn-link">Learn more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="listing-wrap img rounded d-flex align-items-end" style="background-image: url(../../Assets/images/listing-4.jpg);">
                    <div class="location">
                        <span class="rounded">PEARL</span>
                    </div>
                    <div class="text">
                        <h3><a href="#">100 Property Listing</a></h3>
                        <a href="#" class="btn-link">Learn more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="listing-wrap img rounded d-flex align-items-end" style="background-image: url(../../Assets/images/listing-5.jpg);">
                    <div class="location">
                        <span class="rounded">ONYX</span>
                    </div>
                    <div class="text">
                        <h3><a href="#">100 Property Listing</a></h3>
                        <a href="#" class="btn-link">Learn more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
