
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Assets/css/gallery.css")" rel="stylesheet" type="text/css" />

}
<div class="hero-wrap" style="background-image: url('../../Assets/../../Assets/images/hompage/cover.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">Featured Amenities</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">HOME<i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="index.html">MASTER PLAN <i class="ion-ios-arrow-forward"></i></a></span> <span>AIOLA <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-counter ftco-section img" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">V</strong>
                        <span>illas</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="12">0</strong>
                        <span>Hectare <br /> Man-Made Lake</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="18">0</strong>
                        <span>18-meter high <br /> water jet fountain</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">W</strong>
                        <span>ater <br />Sports Facilities</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2">0</strong>
                        <span>km Biking and Jogging <br /> Trail Under the Lake</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">U</strong>
                        <span>nique <br /> Surrey Bikes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">P</strong>
                        <span>arks  <br /> and Picnic Grounds</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">L</strong>
                        <span>akeside <br /> Jogging Path</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">L</strong>
                        <span>ighthouse <br /> view deck</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">L</strong>
                        <span>akeside <br /> Restaurant</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">L</strong>
                        <span>ighthouse<br /> Tent</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">W</strong>
                        <span>ifi<br /> Facility</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">I</strong>
                        <span>nfinity <br />Pool</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">C</strong>
                        <span>lubhouse</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">G</strong>
                        <span>ated <br />Entrance per Village</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="24">0</strong>
                        <span>24 hours security</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">W</strong>
                        <span>
                            edding Venues
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">C</strong>
                        <span>
                            hapel
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number">T</strong>
                        <span>
                            oll Service Facility with McDonald’s, <br />
                            San Mig Food Ave., Starbucks and a Lot more
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="gallery">
    <div class="gallery__column">
        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/11000912/pexels-photo-11000912.jpeg?cs=srgb&dl=pexels-vladimir-konoplev-11000912.jpg&fm=jpg" alt="Portrait by Jessica Felicio" class="gallery__image">
                @*<figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>*@
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1122462/pexels-photo-1122462.jpeg?cs=srgb&dl=pexels-oliver-sj%C3%B6str%C3%B6m-1122462.jpg&fm=jpg" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
          
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1587200/pexels-photo-1587200.jpeg?cs=srgb&dl=pexels-sabel-blanco-1587200.jpg&fm=jpg" alt="Portrait by Alex Perez" class="gallery__image">
               
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1173804/pexels-photo-1173804.jpeg?cs=srgb&dl=pexels-akshaya-premjith-1173804.jpg&fm=jpg" alt="Portrait by Noah Buscher" class="gallery__image">
               
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1188470/pexels-photo-1188470.jpeg?cs=srgb&dl=pexels-vincent-gerbouin-1188470.jpg&fm=jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
             
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1545499/pexels-photo-1545499.jpeg?cs=srgb&dl=pexels-lisa-1545499.jpg&fm=jpg" alt="Portrait by Sam Burriss" class="gallery__image">
           
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/3625711/pexels-photo-3625711.jpeg?cs=srgb&dl=pexels-lina-kivaka-3625711.jpg&fm=jpg" alt="Portrait by Mari Lezhava" class="gallery__image">
    
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1105754/pexels-photo-1105754.jpeg?cs=srgb&dl=pexels-jens-mahnke-1105754.jpg&fm=jpg" alt="Portrait by Ethan Haddox" class="gallery__image">
          
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1212053/pexels-photo-1212053.jpeg?cs=srgb&dl=pexels-vlad-bagacian-1212053.jpg&fm=jpg" alt="Portrait by Amir Geshani" class="gallery__image">
          
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/2343533/pexels-photo-2343533.jpeg?cs=srgb&dl=pexels-angela-cavina-2343533.jpg&fm=jpg" alt="Portrait by Guilian Fremaux" class="gallery__image">
                
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?cs=srgb&dl=pexels-alex-staudinger-1732414.jpg&fm=jpg" alt="Portrait by Jasmin Chew" class="gallery__image">
             
            </figure>
        </a>

        <a href="#" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://images.pexels.com/photos/5824497/pexels-photo-5824497.jpeg?cs=srgb&dl=pexels-charlotte-may-5824497.jpg&fm=jpg" alt="Portrait by Dima DallAcqua" class="gallery__image">
         
            </figure>
        </a>
    </div>
</div>