
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Assets/css/aboutus.css")" rel="stylesheet" type="text/css" />

}
<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('../../Assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(../../Assets/images/aboutus/history.jpg);">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate">
                <div class="heading-section">
                    <h2 class="mb-4">HISTORY</h2>
                    <p>
                        Central Country Estate, Inc. has been established and was registered at the Securities and
                        Exchange Commission on April 25, 1997 with its primary purpose to own, use, improve, develop, subdivide, sell,
                        exchange, lease and hold for investment or otherwise, real estate of all kinds, including buildings, houses, apartments and other structures.
                        Initially, the corporation’s subscribers to the capital stock were Nobleman Properties, Inc.,
                        Metro Pacific Corporation, Architect Nestor S. Mangio, Mr. Juanito C. Uy, Mr. Eddie L. Hao, Mr. Napoleon L. Nazareno and Mr. Fernando R. Balatbat.
                        Its premier project is the development of the more than two hundred fifty (250)-hectare residential commmunity named The Lakeshore located in Mexico, Pampanga.
                        Central Country Estate, Inc. holds its office at Unit 3, 3rd Floor, Corporate House Building, 239 Santolan Road corner C. Benitez St., Quezon City and Hotel Gracelane Annex,
                        San Agustin, City of San Fernando, Pampanga.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<div class="about-section">
    <div class="inner-container">
        <h1>NESTOR MANGIO</h1>
        <p>Architect</p>
        <p class="text">
            Architect Nestor S. Mangio, in his professional capacity has served as National President of the United Architects of the Philippines from 1994 to 1996. 
            As an architect and urban and environmental planner, he has designed several projects and completed numerous residential, commercial, 
            institutional and developments in Manila, Pampanga, Baguio, the Visayas, Mindanao and abroad. His expertise as an architect and urban planner 
            was tapped by the government when he was appointed and had served as Director of the Bases Conversion Development Authority (BCDA) and Clarck Development Corporatin (CDC) from 1995 to 1998. 
            Currently, he is the Chairman of the Clark International Airport Corporation (CIAC).
        </p>
        <p class="text">
            As a businessman, he runs and manages his own comapnies as President and Charmain of the Board of the following companies:
        </p>
        <div class="skills">
            <p>NS Mangio Construction and Development Corporation (NSMCDC)</p>
            <p>NS Mangio & Associates (NSMA)</p>
            <p>Central Country Estate, Inc. (CCEI)</p>
            <p>The Lakeshore Marketing, Corp (TLMC)</p>
            <p>The Lakeshore Marketing, Corp (TLMC)</p>
            <p>Nobleman Properties, Inc.</p>
        </div>
    </div>
</div>

@*<section class="ftco-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">BOARD OF DIRECTORS & MNGT</h3>
                <p>Arch. Nestor S. Mangio Mr. Juanito C. Uy Mr. Eddie L. Hao Mr. Michael L. Hao Arch. Brian John P. Mangio Mr. Peter C. Ang Ms. Hazel Ann P. Mangio</p>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">WHOLLY-OWNED SUBSIDIARIES</h3>
                <p>Central Country Estate Management Corporation The Lakeshore Country Club, Inc. The Lakeshore Toll Service Facility, Inc.</p>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">BOARD OF ADVISERS</h3>
                <p>Mr. Ricardo Pascua</p>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">OFFICERS</h3>
                <p>Chairman/President: Arch. Nestor S. Mangio Vice Chairman: Mr. Eddie L. Hao Treasurer: Mr. Peter C. Ang CFO: Ms. Elena O. Santos</p>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">GOOD GOVERNANCE</h3>
                <p>Chairman/President: Arch. Nestor S. Mangio Members: Mr. Ricardo Pascua Mr. Juanito C. Uy Mr. Peter C. Ang Arch. Brian John Mangio</p>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight: 600; font-size: 20px;">AFFILIATIONS</h3>
                <p>Chamber of Real Estate and Builders Association (CREBA) National Real Estate Association (NREA) Employers Confederation of the Philippines (ECOP) 
                Marketing Association of the Philippines (MAP) International Real Estate Federation (FIABCI)</p>
            </div>
        </div>
    </div>
</section>*@


<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Officers</span>
                <h2 class="mb-3">Our Team</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Central Country Estate Management Corporation The Lakeshore Country Club, Inc. The Lakeshore Toll Service Facility, Inc.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">WHOLLY-OWNED SUBSIDIARIES</p>
                                        @*<span class="position">Marketing Manager</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Mr. Ricardo Pascua</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">BOARD OF ADVISERS</p>
                                        @*<span class="position">Marketing Manager</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Chairman/President: Arch. Nestor S. Mangio Vice Chairman: Mr. Eddie L. Hao Treasurer: Mr. Peter C. Ang CFO: Ms. Elena O. Santos</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">OFFICERS</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Chairman/President: Arch. Nestor S. Mangio Members: Mr. Ricardo Pascua Mr. Juanito C. Uy Mr. Peter C. Ang Arch. Brian John Mangio</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">GOOD GOVERNANCE</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Chamber of Real Estate and Builders Association (CREBA) National Real Estate Association (NREA) Employers Confederation of the Philippines (ECOP) Marketing Association of the Philippines (MAP) International Real Estate Federation (FIABCI)</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">AFFILIATIONS</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Arch. Nestor S. Mangio Mr. Juanito C. Uy Mr. Eddie L. Hao Mr. Michael L. Hao Arch. Brian John P. Mangio Mr. Peter C. Ang Ms. Hazel Ann P. Mangio</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Assets/images/aboutus/team.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">BOARD OF DIRECTORS & MNGT</p>
                                        @*<span class="position">Marketing Manager</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

